.menu1 a {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.menu1 a:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.menu1 a:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}
.container{
	width:500px;
	height:100px;
	display:block;
	margin: 0 auto;
	font-size:20px;
	text-align:left;
	font-weight:bold;

}
.container  h1{
	color:#283966;
	
}
.container  input{
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
    margin-left:20px
}

.container label{

    display:inline-block;

    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;

}
#login_but {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:16px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
#login_but:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}

#register_but{
	margin-top: 5px;
    margin-right: 5px;
    position:absolute;
    top:0;
    right:0;
	text-decoration:none;
	display:inline-block;
	background-color:#7892c2;
	border-radius:28px;
	border:1px solid #4e6096;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	padding:30px 37px;
	text-shadow:0px 1px 0px #283966;
	
}	
#register_but:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}


.register_form{
	color:#283966;
	width:500px;
	height:100px;
	display:block;
	margin: 0 auto;
	font-size:23px;
	text-align:left;
	font-weight:bold;

}
.register_form td{
	font-size:25px;
	color:#FFFFFF  ;
	
}

.register_form input{
	width:150px;
	height:25px;
}
.register_form  a{
	margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
	display:inline-block;
	font-weight:bold;
	font-style:arial;
	color:#FFFFFF;
	width:130px;
	font-size:25px;
	text-align:center;
	text-decoration:none;
}
#register_button {
		margin-top: 20px;
    margin-left: 100px;
	background-color:#7892c2;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:26px 37px;
	text-decoration:none;
	text-shadow:0px 1px 7px #283966;
}
#register_button:hover {
	background-color:#476e9e;